<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Bartu Özaşçı - Projeler</title>
    <meta
      name="description"
      content="Bartu Özaşçı'nın kişisel portfolyo sitesi. Projelerimi ve hakkımdaki bilgileri burada bulabilirsiniz."
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <link rel="stylesheet" href="../css/styles.css" />
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header>
      <nav class="navbar navbar-expand-lg fixed-top custom-navbar">
        <div class="container">
          <a class="navbar-brand" href="../index.html">
            <img
              src="../img/site_Logo.png"
              alt="Bartu Özaşçı Logo"
              class="custom-logo"
            />
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Ana Sayfa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="portfolyo.html">Portfolyo</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="projeler.html"
                  >Projeler</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="iletisim.html">İletişim</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section id="projeler" class="py-5">
      <div class="container" style="padding-top: 50px">
        <div class="row text-center mb-5">
          <div class="col">
            <h2 class="display-6 fw-bold">Projelerim</h2>
            <p class="lead text-muted">Gerçekleştirdiğim bazı çalışmalar.</p>
          </div>
        </div>

        <!-- 600x400 FOTOĞRAFLAR KULLANILACAK -->

        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="project-card">
              <a
                href="../Apps/yatirimHesap.html"
                target="_blank"
                class="project-image-link"
              >
                <img
                  src="../img/yatırımApp.png"
                  class="card-img-top"
                  alt="Proje 1 Resmi"
                />
                <div class="project-overlay">
                  <i class="bi bi-link-45deg"></i>
                </div>
              </a>
              <div class="card-body text-center">
                <h5 class="card-title project-title">
                  Yatırım Hesaplama Uygulaması
                </h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="project-card">
              <a
                href="../Apps/oyun.html"
                target="_blank"
                class="project-image-link"
              >
                <img
                  src="../img/sayıEslestirmeApp.png"
                  class="card-img-top"
                  alt="Proje 1 Resmi"
                />
                <div class="project-overlay">
                  <i class="bi bi-link-45deg"></i>
                </div>
              </a>
              <div class="card-body text-center">
                <h5 class="card-title project-title">Kart Eşleştirme Oyunu</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="project-card">
              <a
                href="../Apps/sayi-tahmin.html"
                target="_blank"
                class="project-image-link"
              >
                <img
                  src="../img/sayiApp.png"
                  class="card-img-top"
                  alt="Proje 1 Resmi"
                />
                <div class="project-overlay">
                  <i class="bi bi-link-45deg"></i>
                </div>
              </a>
              <div class="card-body text-center">
                <h5 class="card-title project-title">Sayı Tahmin Oyunu</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="project-card">
              <a
                href="../Apps/katil-kim.html"
                target="_blank"
                class="project-image-link"
              >
                <img
                  src="../img/katilKim.png"
                  class="card-img-top"
                  alt="Proje 1 Resmi"
                />
                <div class="project-overlay">
                  <i class="bi bi-link-45deg"></i>
                </div>
              </a>
              <div class="card-body text-center">
                <h5 class="card-title project-title">
                  Katil Kim ? Gizem Oyunu
                </h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="project-card">
              <a
                href="../Apps/kart-oyunu.html"
                target="_blank"
                class="project-image-link"
              >
                <img
                  src="../img/futbolcuKart.712Z.png"
                  class="card-img-top"
                  alt="Proje 1 Resmi"
                />
                <div class="project-overlay">
                  <i class="bi bi-link-45deg"></i>
                </div>
              </a>
              <div class="card-body text-center">
                <h5 class="card-title project-title">Futbolcu Kart Oyunu</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="project-card">
              <a
                href="../Apps/slot- makinesi.html"
                target="_blank"
                class="project-image-link"
              >
                <img
                  src="../img/slotMakine.966Z.png"
                  class="card-img-top"
                  alt="Proje 1 Resmi"
                />
                <div class="project-overlay">
                  <i class="bi bi-link-45deg"></i>
                </div>
              </a>
              <div class="card-body text-center">
                <h5 class="card-title project-title">Slot Makinesi Oyunu</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="referanslar" class="pt-5 pb-4">
      <div class="container">
        <div class="row text-center mb-4">
          <div class="col">
            <h3 class="fw-bold"></h3>
          </div>
        </div>
      </div>
      <div class="logos-scroll-container">
        <div class="logos-slide" id="logos-slide">
          <img src="../img/slider1.png" alt="Referans Logo 1" />
          <img src="../img/slider2.png" alt="Referans Logo 2" />
          <img src="../img/slider3.png" alt="Referans Logo 3" />
          <img src="../img/slider4.png" alt="Referans Logo 4" />
          <img src="../img/slider5.png" alt="Referans Logo 5" />
          <img src="../img/slider6.png" alt="Referans Logo 6" />
          <img src="../img/slider7.png" alt="Referans Logo 7" />
          <img src="../img/slider8.png!sw800" alt="Referans Logo 8" />
          <img src="../img/slider9.png" alt="Referans Logo 9" />
          <img src="../img/slider10.png" alt="Referans Logo 10" />
          <img src="../img/slider11.png!sw800" alt="Referans Logo 11" />
          <img src="../img/slider12.png" alt="Referans Logo 12" />
          <img src="../img/slider13.png" alt="Referans Logo 13" />
          <img src="../img/slider14.png" alt="Referans Logo 14" />
        </div>
      </div>
    </section>
    <footer class="site-footer py-4 mt-auto">
      <div class="container">
        <div class="row align-items=center">
          <div class="col-md-6 text-center text-md-start mb-3 mb-0">
            <span>&copy; 2025 Bartu Özaşçı. Tüm hakları saklıdır.</span>
          </div>

          <div class="col-md-6 text-center text-md-end">
            <a
              href="https://www.instagram.com/bartuozsci?igsh=aXR4eXhoYzF1dnd2"
              target="_blank"
              class="social-icon"
            >
              <i class="bi bi-instagram"></i>
            </a>

            <a href="mailto:bartuozasci@gmail.com" class="social-icon">
              <i class="bi bi-envelope-fill"></i>
            </a>

            <a
              href="https://www.tiktok.com/@bartuozsci?_t=ZS-90ngGCk1x7V&_r=1"
              target="_blank"
              class="social-icon"
            >
              <i class="bi bi-tiktok"></i>
            </a>

            <a
              href="https://snapchat.com/t/fKJDdviP"
              target="_blank"
              class="social-icon"
            >
              <i class="bi bi-snapchat"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="../js/script.js"></script>
    <script src="../js/logos.js"></script>
  </body>
</html>
